<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <div class="card">
                <h4 class="p-4">Agregar Sintomas</h4>
                <div class="card-body text-left">
                    <form action="/sintomas/add" method="POST">
                        <div class="form-group">
                                {{#each persona}}
                                <select class="form-control" name="id_persona">
                                    <option value="{{id_persona}}"> 
                                        {{nombre_completo}} </option>
                                </select>
                                {{/each}}
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="fiebre" value="1"
                                    id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1">Fiebre?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="dolor_cabeza" value="1"
                                    id="customSwitch2">
                                <label class="custom-control-label" for="customSwitch2">Dolor de cabeza?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="estornudos" value="1"
                                    id="customSwitch3">
                                <label class="custom-control-label" for="customSwitch3">Estornudos?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="tos_seca" value="1"
                                    id="customSwitch4">
                                <label class="custom-control-label" for="customSwitch4">Tos seca?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="fatiga" value="1"
                                    id="customSwitch5">
                                <label class="custom-control-label" for="customSwitch5">Fatiga?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="dolor_garganta" value="1"
                                    id="customSwitch6">
                                <label class="custom-control-label" for="customSwitch6">Dolor de garganta?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="dificultad_respirar" value="1"
                                    id="customSwitch7">
                                <label class="custom-control-label" for="customSwitch7">dificultad al respirar?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="dolor_cuerpo" value="1"
                                    id="customSwitch8">
                                <label class="custom-control-label" for="customSwitch8">dolor del cuerpo?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="sin_olores" value="1"
                                    id="customSwitch9">
                                <label class="custom-control-label" for="customSwitch9">Perdida de olfato y gusto?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="embarazo" value="1"
                                    id="customSwitch10">
                                <label class="custom-control-label" for="customSwitch10">embarazo?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="alergias" class="form-control" placeholder="Alergias">
                        </div>
                        <div class="form-group">
                            <input placeholder="Fecha sintomas" name="fecha_sintomas" class="form-control" type="date">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block" aria-pressed="true" autocomplete="off">
                                Guardar
                            </button>
                            <a href="/persona" class="btn btn-secondary btn-block" aria-pressed="true">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>