 <div class="form-group">
                            <fieldset disabled="">
                            <input placeholder="Fecha sintomas" name="fecha_nacimiento" class="form-control" type="text" value="{{fecha}}">
                            </fieldset>
                        </div>